/* Background colors */

$colorlightdark : #1a1e1f;

$colordark : #121516;

$colorsoliddark : #000000;

$colorbluemain : #465bfe;

$colorwhite : #fff;

$colorgrey : #f6f6f6;


/* Text Colors */

$textgrey : #6e6e6e;
$textwhite : #fff;


/* Text Size */

$footertext: 11px;
