/* Background colors */

$colorlightdark : #1a1e1f;

$colordark : #121516;

$colorsoliddark : #000000;

$colorbluemain : #465bfe;

$colorwhite : #fff;

$colorgrey : #f6f6f6;

$colorfadedgrey : #eee;


/* Text Colors */
$textlightgrey: rgba(#6e6e6e, 0.5);
$textgrey : #6e6e6e;
$textwhite : #fff;


/* Text Size */

$text11: 11px;
$text12: 12px;
$text13: 13px;
$text14: 14px;
$text15: 15px;
$text16: 16px;
$text17: 17px;
$text18: 18px;
$text19: 19px;
$text20: 20px;

$bold : bolder;
