/* Background colors */
/* Text Colors */
/* Text Size */
body {
  background-color: #fff;
  font-family: 'Poppins', sans-serif; }

section .brand {
  background-color: #465bfe; }
  section .brand img {
    width: 55%;
    height: auto; }
section .twitbox i {
  font-size: 2.4em; }
section .twitbox p {
  color: #6e6e6e;
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 1.4px; }
section .twitbox .signature {
  font-weight: 900;
  color: #000000; }
section .twitbox h6, section .twitbox .user, section .twitbox span {
  color: rgba(110, 110, 110, 0.5);
  font-size: 11px; }
section .blogpost {
  background-color: #eee; }
section h5 {
  color: #6e6e6e;
  font-size: 17px; }
section h2 {
  font-weight: bolder;
  letter-spacing: 2px; }
section .thumb, section .pic1, section .pic2, section .pic3 {
  width: 300px;
  height: 350px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px; }
section .pic1 {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/pic1.jpg"); }
section .pic2 {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/pic2.jpg"); }
section .pic3 {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/pic3.jpg"); }
section .fill {
  color: #f6f6f6;
  margin-top: 3.2em;
  font-size: 12px;
  margin-bottom: 15.5em; }
section h6, section .user, section span {
  color: #f6f6f6;
  padding-left: 20px;
  line-height: 0.9em; }
section span {
  padding-left: 0;
  font-size: 13px;
  letter-spacing: 2px; }
section .fact {
  padding: 10vh 0vw;
  background-image: url("../images/star-sky.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  section .fact .small-card {
    color: #fff;
    border: 0.5px rgba(255, 255, 255, 0.2) solid;
    border-radius: 5px; }
  section .fact i {
    font-size: 2.5em; }
  section .fact .number-card {
    font-weight: bolder;
    font-size: 2em; }
  section .fact .text-uppercase {
    font-weight: 200;
    letter-spacing: 1px; }
  section .fact .title, section .fact .maintext, section .fact .text-fact {
    color: #eee;
    margin-bottom: 0; }
  section .fact .title {
    font-size: 1.4em; }
  section .fact .maintext {
    font-size: 2.4em;
    font-weight: bolder;
    letter-spacing: 2px;
    line-height: 40px; }
  section .fact .text-fact {
    font-size: 0.9em;
    letter-spacing: 1px; }

footer .container-fluid {
  background-color: #1a1e1f; }
  footer .container-fluid img {
    height: 30px;
    width: auto; }
  footer .container-fluid .logo {
    color: #6e6e6e;
    font-size: 11px;
    line-height: 2em; }
  footer .container-fluid .posts h5 {
    color: #fff;
    font-size: 11px; }
  footer .container-fluid .posts p {
    color: #6e6e6e;
    font-size: 11px; }
  footer .container-fluid .posts hr {
    border: 0.5px solid #6e6e6e;
    margin-top: 5px;
    margin-bottom: 5px; }
  footer .container-fluid .links {
    color: #6e6e6e;
    font-size: 11px;
    line-height: 1.5em; }
  footer .container-fluid .details h5 {
    color: #fff;
    font-size: 11px; }
  footer .container-fluid .details p {
    color: #6e6e6e;
    font-size: 11px; }
  footer .container-fluid .subfooter {
    background-color: #121516;
    color: #6e6e6e;
    font-size: 11px; }
    footer .container-fluid .subfooter i {
      font-size: 14px; }
  footer .container-fluid .text-uppercase {
    color: #fff;
    font-size: 11px; }

/*# sourceMappingURL=style.css.map */
